*~
bin/*
db/*
LRU*
simulation
output
output*
ece411_given*
incremental_db/*
mp0clone/*
mp0_back*
*.qws



mp1/db/*
mp1/incremental_db/*
mp1/simulation/*
mp1/*.rpt
mp1/*.summary
mp0/*.jpg
mp0/*.xcf
mp0/*.ps
mp0/*.txt
mp0/*~
mp1/*~
mp0/simulation/*
mp1/*.txt
mp1/*.jpg
mp1/*.xcf
mp1/*.smsg
mp1/*.jdi
mp1/*.pin
mp1/*.bak
mp1/*~
mp1/*.psmp1/db/*

mp2/incremental_db/*
mp2/simulation/*
mp2/*.rpt
mp2/*.summary
mp2/*.jpg
mp2/*.xcf
mp2/*.ps
mp2/*.txt
mp2/*~
mp2/*~
mp2/simulation
mp2/*.txt
mp2/*.jpg
mp2/*.xcf
mp2/*.smsg
mp2/*.jdi
mp2/*.pin
mp2/*.bak
mp2/*~
mp2/*.ps
mp2/read_write_list
mp2/*.txt#
mp2/*.lst
mp2/mem_read_write_list
mp2/*.done
mp2/*.sof
mp2/db/*

mp2/newfiles/db/*
mp2/newfiles/incremental_db/*
mp2/newfiles/simulation
mp2/newfiles/*.rpt
mp2/newfiles/*.summary
mp2/newfiles/*.jpg
mp2/newfiles/*.xcf
mp2/newfiles/*.ps
mp2/newfiles/*.txt
mp2/newfiles/*~
mp2/newfiles/*~
mp2/newfiles/simulation
mp2/newfiles/*.txt
mp2/newfiles/*.jpg
mp2/newfiles/*.xcf
mp2/newfiles/*.smsg
mp2/newfiles/*.jdi
mp2/newfiles/*.pin
mp2/newfiles/*.bak
mp2/newfiles/*~
mp2/newfiles/*.ps
